@charset "UTF-8";

body{
    background-color: #80ade7;
}

h1 {
    text-align: center;
    color: #0D0D0D;
}

h2{
    text-align: center;
}

.icon{
 
}

p{
    text-indent: 3px;
    text-align: justify;
    
}

